<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thank you - Kakioki System</title>
    <style>
      body {
        font-family: sans-serif;
        font-size: 1.15em;
      }
    </style>
  </head>
  <body>
    <p>
      Your message has been sent to registerd members now. Thank you.
    </p>
  </body>
</html>
